@model MiniWeb.Core.ISitePage
@using MiniWeb.Core
@inject IMiniWebSite MiniWebSite
<!DOCTYPE html>

<html>
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@Model.MetaTitle - Cas </title>
    <meta name="description" content="@Model.MetaDescription" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/kid2.css" />

    <meta name="application-name" content="@MiniWebSite.Configuration.Title" />
    <meta name="msapplication-TileColor" content="#ffffff" />

    <meta property="og:title" content="@Model.MetaTitle" />
    <meta property="og:type" content="website" />

</head>
<body class="@Model.GetBodyCss()">
	<div id="container">
		<div id="site">
			<div id="menu">
				
                <div class="RWM-Menu" miniweb-menu="/cas">
                    <miniweb-menuitem>	
						@{
							var subSitePage = ViewData["MenuSitePage"] as ISitePage;
							var subCurrentUrl = ViewData["CurrentUrl"] as string;
						}
						<div class="RWM-Menu-Leaf  ">
							<div class="RWM-Menu-Template @(subSitePage.IsActiveFor(subCurrentUrl) ? " RWM-Menu-Selected" : "") @(!subSitePage.ShowInMenu || !subSitePage.Visible ? "miniweb-hidden-menu" : "")">
				
							<a href="@(MiniWebSite.GetPageUrl(subSitePage))" class="main">@subSitePage.Title</a>
		
							</div>
						</div>
                    </miniweb-menuitem>
				</div>
			</div>
			<div id="header">				
				<img src="/images/cas/logo.gif" />
				<div class="title">kiekeboe</div>
			</div>
			<div id="content">
				@RenderBody()
				

	<div class="clearer"></div>
			</div>
		</div>
		<div id="footer">

		</div>
	</div>

    <script src="/scripts/site.js"></script>

    <miniwebadmin />

</body>
</html>
