@model MiniWeb.Core.ISitePage
@using MiniWeb.Core
@inject IMiniWebSite MiniWebSite
<!DOCTYPE html>

<html>
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@Model.MetaTitle - Tijn </title>
    <meta name="description" content="@Model.MetaDescription" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/kid.css" />

    <meta name="application-name" content="@MiniWebSite.Configuration.Title" />
    <meta name="msapplication-TileColor" content="#ffffff" />

    <meta property="og:title" content="@Model.MetaTitle" />
    <meta property="og:type" content="website" />

</head>
<body class="@Model.GetBodyCss()">
	<div id="container">
		<div id="site">
			<div id="menu">
				<div class="start">
				</div>
				
                <div miniweb-menu="/tijn">
                    <miniweb-menuitem>
						<div class="seperator"></div>
						<a href="@(MiniWebSite.GetPageUrl(Model))" class="main">@Model.Title</a>
                    </miniweb-menuitem>
				</div>
			</div>
			<div id="header">
				<h1>Tijn Peter Bos</h1>
			</div>
			<div id="content">
				@RenderBody()
			</div>
		</div>
		<div id="footer">
			Een heel stoer ventje
		</div>
	</div>

    <script src="/scripts/site.js"></script>

    <miniwebadmin />

</body>
</html>
